.app {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-primary);
}

.main-content {
  flex: 1;
  margin-left: 260px;
  margin-top: 64px;
  min-height: calc(100vh - 64px);
  background-color: var(--bg-primary);
}

